.figure {
    margin-top: -110px;
    padding-top: 110px;
    transform: skewY(-5deg);
    background-color: $bg3;
    .govde2 {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        padding: 100px;
        padding-bottom: 15%;
        transform: skewY(5deg);

        .lore {
            width: 40%;
            height: 200px;
            display: flex;
            flex-direction: column;
            color: $bg4;
            justify-content: center;

            h1 {
                font-size: 50px;
                position: relative;

                &::before {
                    width: 80px;
                    height: 2px;
                    background: $bg4;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: calc((100% - 80px) / 2);
                }
            }
        }

        .more {
            width: 50%;
            height: 300px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            p {
                font-size: 20px;
            }

            img {
                width: 150px;
                height: 150px;
                border-radius: 999999px;
            }
        }
    }
}

@media screen and (max-width: 1023px) and (min-width:320px) {
    figure {
        .lore {
            width: 100%;
            text-align: center;
        }

        .more {
            width: 100%;
            gap: 10px;

            p {
                font-size: 16px;
            }
        }
    }
}